.app-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    height: 100vh;
}

.form-box {
    border: 1px solid silver;
    border-radius: 4px;
    padding: 20px;
    background-color: whitesmoke;
}

.result-box {
    border: 1px dashed silver;
    border-radius: 4px;
    padding: 10px;
}

.break {
    flex-basis: 100%;
    height: 0;
}

.break-clear {
    flex-basis: 100%;
    height: 0;
}

.btn-generate {
    margin-top: 10px !important;
}

.gap-top {
    margin-top: 20px;
}

.result-box {
    padding: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14pt;
}

.request-number-text {
    font-weight: 500;
}

.result-number-text {
    font-weight: 700;
}